.card {
    align-items: flex-end;
    display: flex;
    position: relative;
    justify-content: center;
    float: left;
    margin: 10px;
    min-width: 270px;
    min-height: 190px;
    cursor: pointer;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-around;
}

@media screen and (max-width: 640px) {
    .cardGrid {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .card {
        align-items: center;
        min-width: 320px;
    }
}